{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="section">
        <h1>History</h1>
        <hr></hr>
        <table style="margin: auto;">
            <thead style="text-align: left;">
                <tr>
                    <th style="width: 17.5%;">Date</th>
                    <th style="width: 7.5%;">Type</th>
                    <th style="width: 10%;">Symbol</th>
                    <th style="width: 15%;">Share Price Then</th>
                    <th style="width: 15%;">Share Price Now</th>
                    <th style="width: 10%;"># of Shares</th>
                    <th style="width: 15%;">Order Value</th>
                    <th style="width: 10%;">Profit or Loss</th>
                </tr>
            </thead>
            <tbody style="text-align: left;">
                <!-- Loop through the stocks dictionary to display them in this table -->
                {% for transaction in transactions %}
                <tr>
                    <td>
                        {{ transaction["datestamp"] }}
                    </td>
                    <td>
                        {{ transaction["type"] }}
                    </td>
                    <td>
                        {{ transaction["symbol"] }}
                    </td>
                    <td>
                        {{ usd(transaction["share_price"]) }}
                    </td>
                    <td>
                        {{ usd(stockValuesNow[transaction['symbol']]['price']) }}
                    </td>
                    <td>
                        {{ transaction["shares"] }}
                    </td>
                    <td>
                        {{ usd(transaction["order_amount"]) }}
                    </td>
                    <td>
                        {{ usd((stockValuesNow[transaction['symbol']]['price'] * transaction["shares"]) - transaction["order_amount"]) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
